<section class="section">
  <div class="row">
    <div class="col-xs-12 text-center">
            <div id="morris-donut-chart">
              <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="data"
                [legend]="showLegend"
                [explodeSlices]="explodeSlices"
                [labels]="showLabels"
                [doughnut]="doughnut"
                >
              </ngx-charts-pie-chart>
            </div>
    </div>
  </div>
</section>
