  <div class="title-block">
    <h3 class="title">
      Страница записей <span class="sparkline bar"></span>
    </h3>
  </div>

  <div *ngIf="!isLoaded" class="preLoader">
    <img src="../../../assets/2 (2).gif" height="64" width="64"/>
  </div>
  <section class="section" *ngIf="isLoaded">
    <div class="row">
      <app-add-event [categories]="categories" ></app-add-event>
      <app-add-category (onCategoryAdd)="newCategoryAdded($event)"></app-add-category>
      <app-edit-category [categories]="categories" (onCategoryEdit)="categoryWasEdited($event)"></app-edit-category>
     </div>
  </section>
